


:root{
    --cor1: #F2F4FD;
    --cor2: #D3EDFB;
    --cor3: #6BA7C7;
    --cor4: #80B8D7;
    --cor5: #1E3D4D;
    --cor6: #67747A;
}

body{
    padding: 0%;
    margin: 0%;
    font-family:'Inter', sans-serif;
    background-color: var(--cor1);
}

a{
    text-decoration: none;
    color: black;
}

.flex-container{
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

header{
    padding-top: 20px;
    background-color: transparent;
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

.items-header{
    display: flex;
    justify-content: space-between;
}

header .menu-flex{
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flex-container-menu{
    justify-content: space-around;
}

header h2{
    padding: 0px 4px;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

header #logo{
    height: 44px;
    padding-left: 15px;
    padding-right: 26px;
}

header h2>img{
    max-width: 85px;
    height: 14px;
    padding: 2px 6px;

}

header a{
    line-height: 40px;
}

#header-buttom{
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 45px;
    border-radius: 6px;
    color: black;
    text-decoration: none;
    background-color: var(--cor1);
    justify-content: center;
    align-items: center;
    margin: 0%;
    
}

#header-buttom:hover{
    background-color: white;
    box-shadow: 2px 3px 5px -2px rgba(0, 0, 0, 0.833);
}

#header-buttom img{
    position: absolute;
    padding-top: 6px ;
}

#header-buttom a{
    padding-right: 20px;
}

.topo{
    background-image: url(imagens/backgound1.png);
    height: 100%;
}

.principal{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding-left: 60px;
}
 
.principal aside{
    max-width: 455px;
    width: 100%;
    align-self: flex-start;
}

.conteudo-principal{
    max-width: 590px;
    width: 100%;
    display: inline-block;
    align-self: center;
    margin-top: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.conteudo-principal h1{
    max-width: 490px;
    font-size: 52px;
    color: var(--cor5);
    margin-bottom: 10px;
}

.conteudo-principal p{
    max-width: 490px;
    width: 100%;
    font-size: 21px;
    margin-bottom: 60px;
    padding-top: 0%;
}

.conteudo-principal #button{
    max-width: 230px;
    width: 100%;
    height: 57px;
    background-color: var(--cor3);
    padding-right: 20px;
    padding-left: 18px;
    color: white;
    border-radius: 3px;
    font-size: 21px;
    margin-bottom: 20px;
}

.conteudo-principal ul{
    padding-left: 15px;
}

.conteudo-principal ul,li{
    display: inline-block;
    margin: 0%;
}

.conteudo-principal li {
    padding-right:30px;
}

.conteudo-principal ul{
    padding-left: 35px;
}

.nav-principal{
    max-width: 490px;
    margin-right: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-principal>a{
    flex-grow: 0;
    flex-basis: 267px;
    height: 57px;
    padding: 0%;
    line-height: 54px;
    text-align: center;
}

.nav-principal>a:hover{
    background-color: var(--cor4);
    border: 0.5px solid rgba(0, 0, 0, 0.393);
    color: rgb(234, 233, 233);
}
    

#cartao{
    display: inline-block;
    margin-top: 40px;
    padding-right: 40px;
}

.segunda-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 60px 50px;
}

#celular{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#celular-g{
    margin-top: 10px;
    margin-left: 20px;
} 

#celular-p{
    position: relative;
    top: 30px;
    left: 30px;
}

.conteudo-segunda h1{
    padding-top: 15px;
    font-size: 40px;
    color: var(--cor5);
    max-width: 480px;
    width: 100%;
    margin-top:60px;
}

.conteudo-segunda p{
    font-size: 18px;
    max-width: 515px;
    width: 100%;
}

.segunda-section article{
    display: flex;
    max-width: 600px;
}

.grupo-conteudo{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.lista{
    max-width: 680px;
    padding-left: 0%;
}

.lista li{
    margin: 20px 1px;
    display: flex;
}

.lista div > p{
    margin-top: 0;
}

.lista li>img{
    padding: 10px 0px;
    padding-right: 10px;
    height: 50px;
    flex-shrink: 1;
}

.lista li>div{
    float: right;
}

.lista div>h2{
    margin-top: 0%;
    margin-top: 7px;
}

.terceira-section{
    background-color:#E8E9EF ;
}

.section-vantagens{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 60px;
    padding-top: 20px;
}
 
.section-vantagens article{
    display: flex;
    justify-content: flex-start;
}

.titulo-vantagens{
    max-width: 355px;
    padding-left: 70px;
    margin-top: 50px;
}

.titulo-vantagens p{
    color:var(--cor3) ;
    font-size: 19px;
    margin-bottom: 0%;
}

.titulo-vantagens h1{
    color: var(--cor5);
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.cards-vantagens{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.cards-vantagens li{
    max-width: 330px;
    height: 235px;
    background-color: var(--cor1);
    margin: 10px;
    border-radius: 6px;
    padding: 15px;
    flex-shrink: 1;
    flex-grow: 3;
    position: relative;
}

.cards-vantagens li:hover{
    box-shadow: 0px 0px 3px -1px black;
}

.cards-vantagens li>p{
    margin-bottom: 45px;
}

.cards-vantagens a{
    color:var(--cor4);
    position: absolute;
    top:220px
}

.cards-vantagens a:hover{
    text-decoration: underline;
}

.quarta-section h2{
    color: var(--cor3);
    font-size: 21px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 1px;
    margin-top: 90px;
}

.quarta-section h1{
    color:var(--cor5);
    font-size: 35px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 15px;
}

.quarta-section p{
    font-size: 18px;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 5px;
}

.conteudo-ajuda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    padding-top: 5px;
    padding-left: 55px;
    margin-bottom: 50px;
    padding-right: 10px;
}


#perguntas >h2{
    font-size: 26px;
    color: var(--cor5);
    text-align: start;
    font-weight: bold;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#perguntas p{
    font-size: 15px;
    text-align: start;
    margin-bottom: 30px;
    padding-right: 40px;
    padding-left: 10px;
}

footer{
    background-color: var(--cor5);
    margin-bottom: 0%;
    padding-bottom: 0%;
}

footer p{
    color: white;
    font-size: 16px;
    text-align: center;
    padding:6px;
    margin-bottom: 0%;
}